<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% comment %} aqui va en bloque de title {% endcomment %}
        {% endblock title %}
    </title>
</head>
<body>
    <h1>Estoy en la pagina de inicio<h1/>
    <h2>Biewnvenido a la pagina de Django<h2/>
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Home</a></li>
            <li><a href="{% url 'acercade' %}">acercade</a></li>
            <li><a href="{% url 'mision' %}">mision</a></li>
            <li><a href="{% url 'vision' %}">vision</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock content %}

</body>
</html>