{% extends "layouts/layouts.html" %}<!--esta es la version que te dice la ubicacion de donte vamos a mostrarlo-->
{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <p>La UTD busca formar profesionistas con educación de calidad y habilidades prácticas, promoviendo la vinculación con el sector productivo. Su misión está orientada hacia el desarrollo regional y nacional, capacitando a los estudiantes para enfrentar retos tecnológicos y laborales actuales.</p>
{% endblock content %}

