{% extends "layouts/layouts.html" %}<!--esta es la version que te dice la ubicacion de donte vamos a mostrarlo-->
{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <p>Esta visión destaca el enfoque práctico y la vinculación con el sector productivo, característicos de la UTD, alineados con el desarrollo de habilidades técnicas y competencias profesionales para un mundo laboral en constante cambio.</p>
{% endblock content %}

{% block ab %}{% endblock ab %}

