{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}|Django Proyecto UTD <!--cambios que se realizan-->
    </title>
    <link rel="stylesheet" href="{% static "Css/estilos.css" %}" type="text/css"> 
</head>
<body>
    <header>
        <div id="logotipo">
            <img src="{% static "img/django-logo.png" %}" alt="Imagen Django" title="Django"> <!--trabajar con las rutas estaticas-->
            <h1>Django Proyecto Web</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url "inicio" %}" >Inicio</a></li> <!--cambar rutas con el bloque-->
            <li><a href="{% url "mision" %}" >Mision</a></li>
            <li><a href="{% url "vision" %}" >Vision</a></li>
            <li><a href="{% url "acercade" %}">Acerca de</a></li>
            <li><a href="{% url "registro" %}" >registro</a></li>
            <li><a href="{% url "login" %}">Sesion</a></li>
        </ul>
    </nav>
    <section id="content">
        <div class="box">
            {% block content %}{% endblock content %}
        </div>
    </section>
    <footer>
        <p>Django con DJxs4n &copy; 2024 | Visitado el: {% now "Y-m-d H:i" %} </p>
    </footer>
</body>
</html>